
:root {
    --color-de-fondo: #f0f4f8;
    --color-de-fondo-menu: rgba(255, 255, 255, 0.95);
    --color-de-link: #2b6cb0;
    --color-primario: #3182ce;
    --color-secundario: #63b3ed;
    --color-texto: #2d3748;
    --color-texto-claro: #718096;
    --transicion: all 0.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: var(--color-texto);
    background-color: var(--color-de-fondo);
    justify-content: center;
    align-items: center;

}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color-primario);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cabecera__titulo {
    color: var(--color-de-fondo);
    cursor: pointer;
}

.navegacion__lista {
    display: flex;

}

.navegacion__elemento a {
    color: var(--color-texto);
    font-size: 20px ;
    padding: 0.5rem;
    transition: var(--transicion);
}
.navegacion__elemento a:hover {
    color: var(--color-de-fondo);
}

/* ------------------------------ Sección Presentación ------------------------------*/
main{
    padding-bottom: 2rem;
    align-content: center;

}
.presentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 1rem 2rem;
    margin: 0 auto;
}

.presentacion__foto {
    width: 300px;
    height: 300px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
}


.presentacion__contenedor {
    flex: 1;
    max-width: 600px;
}

.presentacion__titulo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-texto);
    margin-bottom: 1rem;
    line-height: 1.2;
}

.presentacion__subtitulo {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    width: 100%;   
}

.redes__img {
    margin-right: 8rem; 
}

.redes__img:last-child {
    margin-right: 0;       
}

.redes__img a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-de-link);
    gap: 0.5rem;
    font-size: 1rem;
}

.redes__img img {
    width: 40px;
    height: 40px;
}


.redes__img a:hover {
    color: #333333;
}

.redes__img a:hover img {
    transform: translateX(2px);
    transition: transform 0.3s ease;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi{
    padding-top: 4rem;
}

.sobre-mi__titulo, .habilidades__titulo, .aficiones__titulo, .formacion__titulo, .proyectos__titulo, .contacto__titulo {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
}

.sobre-mi__texto {
    max-width: 70%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    color: var(--color-texto-claro);
}

/*------------------------------ Sección de Habilidades ------------------------------*/

.habilidades{
    padding-top: 4rem;
}
.habilidades__lista, .aficiones__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.habilidades__elemento, .aficiones__elemento {
    text-align: center;
    transition: var(--transicion);
}

.habilidades__elemento:hover, .aficiones__elemento:hover {
    transform: translateY(-30px);
}

/*------------------------------ Sección de Aficiones --------------------------------*/

.aficiones{
    padding-top: 4rem;
}

.habilidades__icono, .aficiones__icono {
    width: 90px;
    height: 90px;
}

.habilidades__nombre, .aficiones__nombre {
    margin-top: 0.5rem;
    font-size: 18px;
}





/*------------------------------ Sección de Formación académica --------------------------------*/
.formacion{
    padding-top: 4rem;
}
.formacion__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.formacion__elemento {
    text-align: center;
    max-width: 50%;
}

.formacion__icono {
    width: 200px;
    height: 90px;
    margin-bottom: 1rem;
}

.formacion__nombre {
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.formacion__detalle {
    font-size: 20px;
    color: var(--color-texto-claro);
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos{
    padding-top: 4rem;
}

.proyectos__contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: var(--transicion);
    margin-bottom: 20px;
}

.proyectos__contenedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.proyectos__contenedor img {
    width: 100%;
    height: auto;
}

.proyectos__nombre {
    font-size: 24px;
    color: var(--color-primario);
    margin: 0.1rem 0;
}

.proyectos__descripcion {
    font-size: 18px;
    color: var(--color-texto-claro);
    margin-bottom: 0.1rem;
}

.boton_repositorio, .boton_ver {
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
    transition: var(--transicion);
}

.boton_repositorio:hover, .boton_ver:hover {
    background-color: var(--color-secundario);
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto{
    padding-top: 4rem;
}
.contacto__formulario {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacto__campo {
    padding: 0.8rem;
    border: 1px solid var(--color-texto-claro);
    border-radius: 4px;
    font-size: 14px;
}

.contacto__campo--textarea {
    min-height: 150px;
    resize: vertical;
}

.contacto__boton {
    padding: 0.8rem;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: var(--transicion);
}

.contacto__boton:hover {
    background-color: var(--color-secundario);
}

footer {
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 16px;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */

@media (max-width: 767px) {
   .navegacion__lista{
    display: none;
   } 
   main{
    margin:10px;
    margin-top: 60px;
   }
   .presentacion{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 0;
    
   }
   .presentacion__foto{
    width: 300px;
    height: 300px;
    padding: 0;
   }
   .presentacion__contenedor{
    width: 60%;

   }
   .redes__img{
    margin: 10px;
   }
   .redes__img a{
    gap: 0;
    font-size: 16px;

   }
   .redes__img img {
    width: 30px;
    height: 30px;
   }
   .habilidades__icono, .aficiones__icono {
    width: 40px;
    height: 40px;
    }
    .habilidades__nombre, .aficiones__nombre {
        margin-top: 0.5rem;
        font-size: 14px;
    }

}

@media (max-width: 426px) {
    .presentacion {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
      }
    
      .presentacion__foto {
        width: 300px;
        height: 300px;
      }
    
      .presentacion__contenedor {
        max-width: 100%;
      }
    
      .presentacion__titulo {
        font-size: 2rem;
        
      }
    
      .presentacion__subtitulo {
        font-size: 1rem;
      }
    
      .redes {
        justify-content: center;
      }
    
      .redes__img {
        margin-right: 1rem;
      }
    
      .sobre-mi__texto {
        max-width: 100%;
        font-size: 18px;
      }
    
      .habilidades__lista,
      .aficiones__lista {
        flex-wrap: wrap;
      }
    
      .habilidades__elemento,
      .aficiones__elemento {
        flex-basis: 33.33%;
      }
    
      .habilidades__icono,
      .aficiones__icono {
        width: 60px;
        height: 60px;
      }
    
      .habilidades__nombre,
      .aficiones__nombre {
        font-size: 16px;
      }
    
      .formacion__elemento {
        max-width: 100%;
      }
    
      .formacion__icono {
        width: 150px;
        height: 70px;
      }
    
      .formacion__nombre {
        font-size: 22px;
      }
    
      .formacion__detalle {
        font-size: 18px;
      }
    
      .proyectos__nombre {
        font-size: 20px;
      }
    
      .proyectos__descripcion {
        font-size: 16px;
      }
    
      .boton_repositorio,
      .boton_ver {
        font-size: 18px;
      }
    
      .contacto__formulario {
        max-width: 100%;
      }
    
      .contacto__campo {
        font-size: 12px;
      }
    
      .contacto__boton {
        font-size: 18px;
      }

}